html
{
    --main-font:font-family: "Inter", sans-serif;
}

body
{
    /* font-family: var(--main-font); */
}

.w-fit
{
    width: fit-content;
}

.navbar-nav .nav-link 
{
    position: relative ;
    padding: 0;
}

.navbar-nav .nav-link:hover
{
    color: blue !important;
    
}

.navbar-nav .nav-link::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    right: 100%;
    height: 2px;
    background-color: aliceblue;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
.navbar-nav .nav-link:hover::after
{
    right: 5%;
}



.learnBtn:hover
{
    background-color: rgba(220, 226, 235, 0.51) !important;
}

div.row div.item
{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

div.row div.item:hover
{
    transform: translatey(-10%);
    -webkit-transform: translatey(-10%);
    -moz-transform: translatey(-10%);
    -ms-transform: translatey(-10%);
    -o-transform: translatey(-10%);
}

.item:hover span.ico
{
    background-color: rgba(114, 161, 208, 0.552) !important;
}

footer
{
    background-color: #1F2937;
}

.chat-modal
{
    width: 70%;
    min-height: 600px;
}


span#chatprof
{
    width: 35px;
    height:35px;
}

div.message
{
    border-top-left-radius: 0 !important;
}

.form-control:focus
{
    box-shadow: none;
    border-color: none;
}

div.feture span
{
    transition: transform .4s;
}

div.feture span:hover
{
    transform: scale(1.3);
}








/* From Uiverse.io by dexter-st */ 
.btnpriv-wrapper {
  position: relative;
  display: inline-block;
}

.btnpriv {
  --border-radius: 24px;
  --padding: 4px;
  --transition: 0.4s;
  --button-color: blue; /* Same as background */
  --highlight-color-hue: 210deg;

  user-select: none;
  display: flex;
  justify-content: center;
  padding: 0.5em 0.5em 0.5em 1.1em;
  font-family: "Poppins", "Inter", "Segoe UI", sans-serif;
  font-size: 1em;
  font-weight: 400;

  background-color: var(--button-color);

  box-shadow:
    /* inset */
    inset 0px 1px 1px rgba(255, 255, 255, 0.2),
    inset 0px 2px 2px rgba(255, 255, 255, 0.15),
    inset 0px 4px 4px rgba(255, 255, 255, 0.1),
    inset 0px 8px 8px rgba(255, 255, 255, 0.05),
    inset 0px 16px 16px rgba(255, 255, 255, 0.05),
    /* drop */ 0px -1px 1px rgba(0, 0, 0, 0.02),
    0px -2px 2px rgba(0, 0, 0, 0.03),
    0px -4px 4px rgba(0, 0, 0, 0.05),
    0px -8px 8px rgba(0, 0, 0, 0.06),
    0px -16px 16px rgba(0, 0, 0, 0.08);

  border: solid 1px #fff2;
  border-radius: var(--border-radius);
  cursor: pointer;

  transition:
    box-shadow var(--transition),
    border var(--transition),
    background-color var(--transition);
}
.btnpriv::before {
  content: "";
  position: absolute;
  top: calc(0px - var(--padding));
  left: calc(0px - var(--padding));
  width: calc(100% + var(--padding) * 2);
  height: calc(100% + var(--padding) * 2);
  border-radius: calc(var(--border-radius) + var(--padding));
  pointer-events: none;
  background-image: linear-gradient(0deg, #0004, #000a);

  z-index: -1;
  transition:
    box-shadow var(--transition),
    filter var(--transition);
  box-shadow:
    0 -8px 8px -6px #0000 inset,
    0 -16px 16px -8px #00000000 inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}
.btnpriv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
  background-image: linear-gradient(
    0deg,
    #fff,
    hsl(var(--highlight-color-hue), 100%, 70%),
    hsla(var(--highlight-color-hue), 100%, 70%, 50%),
    8%,
    transparent
  );
  background-position: 0 0;
  opacity: 0;
  transition:
    opacity var(--transition),
    filter var(--transition);
}

.btnpriv-letter {
  position: relative;
  display: inline-block;
  color: #fff5;
  animation: letter-anim 2s ease-in-out infinite;
  transition:
    color var(--transition),
    text-shadow var(--transition),
    opacity var(--transition);
}

@keyframes letter-anim {
  50% {
    text-shadow: 0 0 3px #fff8;
    color: #fff;
  }
}

.btnpriv-svg {
  flex-grow: 1;
  height: 24px;
  margin-right: 0.5rem;
  fill: #e8e8e8;
  animation: flicker 2s linear infinite;
  animation-delay: 0.5s;
  filter: drop-shadow(0 0 2px #fff9);
  transition:
    fill var(--transition),
    filter var(--transition),
    opacity var(--transition);
}
@keyframes flicker {
  50% {
    opacity: 0.3;
  }
}

/* Focus state */
.txt-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 6.4em;
}
.txt-1,
.txt-2 {
  position: absolute;
  word-spacing: -1em;
}
.txt-1 {
  animation: appear-anim 1s ease-in-out forwards;
}
.txt-2 {
  opacity: 0;
}
@keyframes appear-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btnpriv:focus .txt-1 {
  animation: opacity-anim 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
.btnpriv:focus .txt-2 {
  animation: opacity-anim 0.3s ease-in-out reverse forwards;
  animation-delay: 1s;
}
@keyframes opacity-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btnpriv:focus .btnpriv-letter {
  animation:
    focused-letter-anim 1s ease-in-out forwards,
    letter-anim 1.2s ease-in-out infinite;
  animation-delay: 0s, 1s;
}
@keyframes focused-letter-anim {
  0%,
  100% {
    filter: blur(0px);
  }
  50% {
    transform: scale(2);
    filter: blur(10px) brightness(150%)
      drop-shadow(-36px 12px 12px hsl(var(--highlight-color-hue), 100%, 70%));
  }
}
.btnpriv:focus .btnpriv-svg {
  animation-duration: 1.2s;
  animation-delay: 0.2s;
}

.btnpriv:focus::before {
  box-shadow:
    0 -8px 12px -6px #fff3 inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 20%) inset,
    1px 1px 1px #fff3,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}
.btnpriv:focus::after {
  opacity: 0.6;
  mask-image: linear-gradient(0deg, #fff, transparent);
  filter: brightness(100%);
}

/* Animation delays for .btnpriv-letter elements */
.btnpriv-letter:nth-child(1),
.btnpriv:focus .btnpriv-letter:nth-child(1) {
  animation-delay: 0s;
}
.btnpriv-letter:nth-child(2),
.btnpriv:focus .btnpriv-letter:nth-child(2) {
  animation-delay: 0.08s;
}
.btnpriv-letter:nth-child(3),
.btnpriv:focus .btnpriv-letter:nth-child(3) {
  animation-delay: 0.16s;
}
.btnpriv-letter:nth-child(4),
.btnpriv:focus .btnpriv-letter:nth-child(4) {
  animation-delay: 0.24s;
}
.btnpriv-letter:nth-child(5),
.btnpriv:focus .btnpriv-letter:nth-child(5) {
  animation-delay: 0.32s;
}
.btnpriv-letter:nth-child(6),
.btnpriv:focus .btnpriv-letter:nth-child(6) {
  animation-delay: 0.4s;
}
.btnpriv-letter:nth-child(7),
.btnpriv:focus .btnpriv-letter:nth-child(7) {
  animation-delay: 0.48s;
}
.btnpriv-letter:nth-child(8),
.btnpriv:focus .btnpriv-letter:nth-child(8) {
  animation-delay: 0.56s;
}
.btnpriv-letter:nth-child(9),
.btnpriv:focus .btnpriv-letter:nth-child(9) {
  animation-delay: 0.64s;
}
.btnpriv-letter:nth-child(10),
.btnpriv:focus .btnpriv-letter:nth-child(10) {
  animation-delay: 0.72s;
}
.btnpriv-letter:nth-child(11),
.btnpriv:focus .btnpriv-letter:nth-child(11) {
  animation-delay: 0.8s;
}
.btnpriv-letter:nth-child(12),
.btnpriv:focus .btnpriv-letter:nth-child(12) {
  animation-delay: 0.88s;
}
.btnpriv-letter:nth-child(13),
.btnpriv:focus .btnpriv-letter:nth-child(13) {
  animation-delay: 0.96s;
}

/* Active state */
.btnpriv:active {
  border: solid 1px hsla(var(--highlight-color-hue), 100%, 80%, 70%);
  background-color: hsla(var(--highlight-color-hue), 50%, 20%, 0.5);
}
.btnpriv:active::before {
  box-shadow:
    0 -8px 12px -6px #fffa inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 80%) inset,
    1px 1px 1px #fff4,
    2px 2px 2px #fff2,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}
.btnpriv:active::after {
  opacity: 1;
  mask-image: linear-gradient(0deg, #fff, transparent);
  filter: brightness(200%);
}
.btnpriv:active .btnpriv-letter {
  text-shadow: 0 0 1px hsla(var(--highlight-color-hue), 100%, 90%, 90%);
  animation: none;
}

/* Hover state */
.btnpriv:hover {
  border: solid 1px hsla(var(--highlight-color-hue), 100%, 80%, 40%);
  color: #1F2937 !important;
}

.btnpriv:hover::before {
  box-shadow:
    0 -8px 8px -6px #fffa inset,
    0 -16px 16px -8px hsla(var(--highlight-color-hue), 100%, 70%, 30%) inset,
    1px 1px 1px #fff2,
    2px 2px 2px #fff1,
    -1px -1px 1px #0002,
    -2px -2px 2px #0001;
}

.btnpriv:hover::after {
  opacity: 1;
  mask-image: linear-gradient(0deg, #fff, transparent);
}

.btnpriv:hover .btnpriv-svg {
  fill: blue;
  filter: drop-shadow(0 0 3px hsl(var(--highlight-color-hue), 100%, 70%))
    drop-shadow(0 -4px 6px #0009);
  animation: none;
}







/* From Uiverse.io by shah1345 */ 
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #0e0090;
}

.button2:hover:before {
  top: -35%;
  background-color: #0e0090;
  transform: translateX(-50%) scaleY(1.9) scaleX(.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #0e0090;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}





