.w-fit
{
    width: fit-content;
}

.cb
{
    background-color: #1F2937;
}

footer
{
    background-color: #1F2937;

}

.fs-14
{
    font-size: 14px;
}

.cir-num{
    width: 35px;
    height: 35px;
}

div.pers
{
    width: 80px;
    height: 80px;
}


