







div.right div.image
{
    background-image: url('./36d6372b3835bbce41778d547484c6750ae54077.jpg');
    background-position: center;
    background-size: cover;
    width: 90%;
}

div.right div.image div.layer
{
    background-color: black;
    opacity: 0;
    transition: all .5s;
}
div.right div.image:hover div.layer
{
    background-color: black;
    opacity: .8;
}

div.stages div.steps
{
    border-right: 2.5px solid rgba(62, 138, 196, 0.663);
}
div.stages div.clarf
{
    border-left: 2.5px solid rgba(62, 138, 196, 0.55);
}

div.stages div.steps div.num
{
    width: 40px;
    height: 40px;
}

div.stages div.clarf div.illus
{
    width: 70%;
    height: 200px;
}

/* 
div.item:hover div.ico
{
     background-color: #1f2937c4 !important;
} */

.row .inner .ico {
    width: 70px;
    height: 70px;
    transition: background-color .5s, color .5s;
}

.row .item:hover .inner .ico {
    background-color: black !important;
    color: white;
}

div.row div.item
{
    transition: transform .5s;
}
div.row div.item:hover
{
    transform: translateY(-7%);
}

footer
{
    background-color: #1F2937;
}

