.w-fit
{
    width: fit-content;
}

.elec-box
{
    width: 40%;
}

footer
{
    background-color: #1F2937;

}

.fs-14
{
    font-size: 14px;
}

.cir-num{
    width: 35px;
    height: 35px;
}

div.pers
{
    width: 70px;
    height: 70px;
    /* background-image: url('./person\ 1.jpg');
    background-size: cover;
    background-position: center; */
}


.active
{
    box-shadow: 0 4px 12px rgba(0, 102, 255, 0.25) !important;
    border: 2px solid rgba(0, 102, 255, 0.25) ;
}


.warn
{
    background-color:  #FEFCE8;
    border-left: 5px solid #FACC15;
    color: #A16207;
}